{{extend 'layout.html'}}
<!DOCTYPE html>
<head>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<style>

h1 {
	font-family: 'Montserrat', sans-serif;
	color: Gray;
}

body {
	color: Gray;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

input[type=submit] {
	background-color: Gray;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
    color: white;
    padding: 12px 20px;
    margin: 20px;
    border: none;
    border-radius: 4px;
}

</style>
<body>
<h1>Post an ad</h1>
{{=form}}
</body>
</html>