<!DOCTYPE html>
<html>
<head>
{{extend 'layout.html'}}
<link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.min.css')}}"/>
<link rel="stylesheet" href="{{=URL('static', 'css/index.css')}}"/>
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
</head>
<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: DarkGray;
}

li {
  float: left;
}

li {
  display: inline;
}

li a {
  display: block;
  color: SeaShell;
  font-family: "Helvetica";
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: DimGray;
}

h2 {
  font-family: 'Courgette', cursive;
}

</head>
</style>

        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="clothing">Clothing</a></li>
          <li><a href="contact">Contact</a></li>
          <li style="float:right"><a class="active" href="#Login">Login</a></li>
</ul>
</ul>

<h1>Clothes R' Us</h1>
<h2>Current Ads</h2>
{{for ad in ads:}}
<img width="200px"
     height="200px"
     src="{{=URL('download', args=ad.file)}}"
     border="1px solid #ddd"
     border-radius="4px"
     padding="5px">

{{=LI(A(ad.title, _href=URL("show", args=ad.id)))}}
{{pass}}</ul>
[ {{=A('create ad', _href=URL('create'))}} ]