
<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="{{=URL('static', 'css/register.css')}}"/>
</head>
<style type="text/css">
</style>
<form action="" method="post">
    <h1>Sign Up</h1>
    <div>
        <label for="firstname">First Name</label>
        <input type="text" name="firstname">
    </div>

    <div>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname">
    </div>

    <div>
        <label for="email">Email</label>
        <input type="text" name="email">
    </div>

    <div>
        <label for="password">Password</label>
        <input type= "password" name="password">
    </div>

    <button type="submit" class="adduserbtn">Save User</button>
</form>
</body>
</html>

