{{extend 'layout.html'}}
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<style>

body {
	background-color: AntiqueWhite;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	color: DarkSlateGray;
	margin: 40px;
	line-height: 1px;
}
</style>
<h1>Title: {{=ads.title}}</h1>
<h1>Description: {{=ads.description}}</h1>
<h1>Location: {{=ads.location}}<h1>
<h1>Price: {{=ads.price}}</h1>
<h1>Phone number: {{=ads.phone}}</h1>
<div style="text-align:center">
<img width="300px"
     src="{{=URL('download', args=ads.file)}}" />
</div>
