@import url(https://fonts.googleapis.com/css?family=Montserrat:300);

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  margin: 5px;
  color: Gray;
  text-align: center;
}

h2 {
  font-size: 35px;
  margin: 40px;
  color: RosyBrown;
  text-align: center;
}

body {
  background-color: MistyRose;
}
