@import url(https://fonts.googleapis.com/css?family=Montserrat:300);

ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: DarkGray;
    }

    li {
      float: left;
    }

    li {
      display: inline;
    }

    li a {
      display: block;
      color: SeaShell;
      font-family: "Helvetica";
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: DimGray;
    }

  input[type=text] {
     float: right;
     color: Gray;
     font-family: "Helvetica";
     padding: 6px;
     border: none;
     margin-top: 8px;
     margin-right: 16px;
     font-size: 15px;
}

input[type=text] {
  font-family: "Helvetica"
  float: right;
  padding: 6px;
  border: solid 1px;
  border-radius: 20px;
  margin-top: 8px;
  margin-right: 14px;
  font-size: 50px;
}

h1 {
  padding: 50px;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  color: Gray;
  text-align: center;
}

h2 {
  font-family: 'Courgette', cursive;
  font-size: 40px;
  margin: 50px;
  color: RosyBrown;
  text-align: center;
}

body {
  background-color: MistyRose;
}
