
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;   
    padding: 60px;
    color: Maroon;
}

input {
    font-family: "Roboto", sans-serif;
    color: Maroon;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: Maroon 2px;
    border-color: Maroon;
}

.signupbtn {
    font-family: "Roboto", sans-serif;
    background-color: Maroon;
    color: White;
    border: 2px solid;
    padding: 30px;
    margin: 60px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
